/* Main layout styles */

/* body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
} */

/* .container {
  position: relative;
  width: 989px;
  margin: auto;
} */


/* ---------------  --------------- Header ---------------  --------------- */

.page-header {
  height: 120px;
  margin-bottom: 113px;
}

.page-header__column {
  float: left;
}

.page-header__column--logo {
  margin-right: 29px;
}

.page-header__column--logo a {
  display: block;
  width: 150px;
  height: 120px;
  background-image: url(../images/logo/logo.png);
  background-repeat: no-repeat;
  background-position: 0 23px;
  color: transparent;
}

.page-header__column--menu-hamburger {
  display: none;
}

.page-header__column--menu {
  position: relative;
  margin-right: 25px;
}

.page-header__column--menu-link,
.page-header__column--submenu-link {
  float: left;
}

.page-header__column--menu-link a {
  display: block;
  height: 117px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 126px;
  color: #000000;
}

.page-header__column--menu-link a:hover {
  color: #018f3c;
}

.page-header__column--menu-active {
  position: relative;
  border-bottom: 3px solid #018f3c;
}

.page-header__column--menu-active span {
  color: #018f3c;
}

.page-header__column--menu-active::after {
  position: absolute;
  top: 99px; 
  left: 50%;
  content: '';
  margin-left: -10px;  
  border: 10px solid transparent;
  border-bottom-color: #018f3c;
}  

.page-header__column--submenu {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%; 
  height: 60px;
  background-color: #efece7;
}

.page-header__column--submenu-link a {
  height: 60px;
  font-size: 14px;
  line-height: 58px;
  padding: 0;
}

.page-header__column--submenu-link span {
  margin-left: 14px;
  margin-right: 14px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.page-header__column--submenu-link a:hover {
  color: #000000;
}

.page-header__column--submenu-link span:hover {
  border-bottom: 1px solid #a8a6a2;
}

.page-header__column--submenu-active {
  background-color: #ffa800;
}

.page-header__column--submenu-link .page-header__column--submenu-active {
  color: #ffffff;
}

.page-header__column--submenu-link .page-header__column--submenu-active:hover  {
  color: #ffffff;
}

.page-header__column--submenu-active span:hover {
  border-bottom: 1px solid #ffc24c;
}

.page-header__column--submenu-platform,
.page-header__column--submenu-company,
.page-header__column--submenu-help {
  position: absolute;
  /* top: 120px; */ 
  left: 0;
  z-index: 1;
}

.page-header__column--submenu-platform,
.page-header__column--submenu-company {
  display: none;
}

.page-header__column--search {
  margin-top: 53px;
  margin-right: 33px;
}

.page-header__column--login-seller {
  margin-top: 52px;
  margin-right: 5px;
}

.page-header__column--registration-seller {
  position: relative;
  width: 220px;
  height: 46px;
  border: 3px solid #ffa800;
  border-radius: 30px;
  margin-top: 40px;
}

.page-header__column--registration-seller:hover {
  background-color: #ffa800;
}

.header-icon {
  display: block;
  width: 20px;
  height: 21px;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  color: transparent;
}

.header-icon--search {
  background-position: -293px -221px;
  border: none;
}

.header-icon--login {
  background-position: -210px -221px;
}

.header-icon--registration {
  font-weight: 600;
  line-height: 39px;
  text-transform: uppercase;
  padding-left: 56px;
  color: #000000;
}

.header-icon--registration::before {
  position: absolute;
  left: 24px;
  top: 9px;
  content: '';
  /* display: block; */
  width: 26px;
  height: 22px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -858px -483px;
}

/* -------------  ------------- Main content -------------  ------------- */

.client-instructions__header h1 {
  font-size: 45px;
  font-weight: 100;
  text-align: center;
  padding-right: 11px;
  padding-bottom: 47px;
}

.client-instructions__lesson {
  position: relative;
}

.client-instructions__lesson-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 978px;
  height: 160px;
  line-height: 30px;
  color: #ffffff;
  padding-top: 44px;
  padding-left: 299px;
  background-image: url(../images/lesson-bg.jpg);
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.client-instructions__lesson-picture h4 {
  font-size: 45px;
  font-weight: 100;
  padding-bottom: 11px;
}

.client-instructions__lesson-picture p {
  font-size: 20px;
  font-weight: 100;
}

.client-instructions__lesson-picture:hover {
  background-image: url(../images/lesson-bg_hover.png);
}

.client-instructions__lesson-picture:hover .client-instructions__lesson-link {
  visibility: visible;
}

.client-instructions__lesson-picture:hover h4,
.client-instructions__lesson-picture:hover p {
  opacity: 0.5;
}

.client-instructions__lesson-link {
  visibility: hidden; 
  position: absolute;
  top: 57px;
  left: 370px;
  width: 240px;
  height: 46px;
  background-color: #ffa800;
  border-radius: 23px;
  font-size: 13px;
  line-height: 46px;
  text-transform: uppercase;
}

.client-instructions__lesson-link span {
  margin-left: 77px;
}

.client-instructions__lesson-link span::before {
  position: absolute;
  top: 8px;
  left: 46px;
  content: '';
  /* display: block; */
  width: 28px;
  height: 28px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.client-instructions__lesson-link span::after {
  position: absolute;
  top: 15px;
  left: 56px;
  content: '';
  /* display: block; */
  border: 7px solid transparent;
  border-left-width: 11px;
  border-left-color: #000000;
}

.client-instructions__lesson-article {
  width: 639px;
  padding-left: 41px;
  padding-top: 173px;
  padding-bottom: 35px;
}

.client-instructions__lesson-article header {
  margin-bottom: 12px;
  font-size: 18px;
}

.client-instructions__lesson-article a {
  font-weight: 800;
  border-bottom: 2px solid #efece7;
  color: #000000;
}

.client-instructions__lesson-article a:hover {
  color: #ed1c24;
}

.client-instructions__lesson-picture a {
  font-weight: 600;
  border-bottom: none;
}

.client-instructions__lesson-picture a:hover {
  color: #000000;
}

.client-instructions__lesson-article a:hover ~ .client-instructions__lesson-picture {
  background-image: url(../images/lesson-bg_active.png);
}

.client-instructions__lesson-article p {
  padding-bottom: 20px;
}

.client-instructions__paginator {
  padding-left: 43px;
}

.client-instructions__paginator-button {
  float: left;
  /* display: block; */
  width: 35px;
  height: 35px;
  margin-bottom: 72px;
  margin-right: 11px;
  border-radius: 50%;
  border: 2px solid #ffa800;
  font-size: 12px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  color: #000000;
}

.client-instructions__paginator-button:hover,
.client-instructions__paginator-button--active {
  background-color: #ffa800;
}

.client-instructions__paginator-button--dotted {
  width: 19px;
  line-height: 40px;
  border: none;
}

.client-instructions__paginator-button--dotted:hover {
  background-color: #ffffff;
}

/* ---------------  --------------- Footer ---------------  --------------- */

.page-footer {
  min-height: 245px;
  background-color: #f2ede7;
  clear: both;
}

.page-footer__columns {
  overflow: hidden; 
  padding-bottom: 46px;
  color: #605e5c;
}

.page-footer__columns a {
  color: #605e5c;
}

.page-footer__columns a:hover {
  color: #177a93;
}

.page-footer__column {
  float: left;
  width: 25%;
  margin-top: 40px;
}

.contact-icon::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
}

.contact-icon--copyright::before {
  background-position: -858px -779px;
}

.contact-icon--email::before {
  background-position: -858px -733px;
}

.contact-icon--skype::before {
  background-position: -858px -756px;
}

.contact-icon--email a,
.contact-icon--skype a {
  color: #177a93;
  border-bottom: 1px solid #177a93;
}

.contact-icon--email a:hover,
.contact-icon--skype a:hover {
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

.page-footer__column--sm {
  float: right;
  margin-top: 50px;
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 35px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
}

.social-icon a {
  display: block;
  width: inherit;
  height: inherit; 
  color: transparent;
}

.social-icon a:hover {
  color: transparent;
}

.social-icon--vk {
  background-position: -680px -558px;
}

.social-icon--vk:hover {
  background-position: -637px -558px;
}

.social-icon--fb {
  background-position: -696px -782px;
}

.social-icon--fb:hover {
  background-position: -782px -782px;
}

.social-icon--tw {
  background-position: -729px -282px;
}

.social-icon--tw:hover {
  background-position: -729px -509px;
}

.social-icon--blog {
  background-position: -723px -558px;
}

.social-icon--blog:hover {
  background-position: -729px -417px;
}

.social-icon--hh {
  background-position: -729px -374px;
}

.social-icon--hh:hover {
  background-position: -772px -648px;
}

.social-icon--gp {
  background-position: -858px 0;
}

.social-icon--gp:hover {
  background-position: -653px -782px;
}

.page-footer__payment-system {
  padding-left: 4px;
}

.payment-system__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 46px;
}

.payment-system__item:nth-child(2) {
  margin-right: 49px;
}

.payment-system__item:nth-child(3) {
  margin-right: 51px;
}

.payment-system__item:nth-child(4) {
  margin-right: 53px;
}

.payment-system__item:nth-child(6) {
  margin-right: 38px;
}

.payment-system__item:nth-child(7) {
  margin-right: 42px;
}

.payment-system__item:nth-child(8) {
  margin-right: 39px;
}