/* Main layout styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.container {
  width: 989px;
  margin: auto;
}


/* ---------------  --------------- Header ---------------  --------------- */

.page-header {
  height: 120px;
}

.page-header__column {
  float: left;
}

.page-header__column--logo {
  margin-right: 54px;
}

.page-header__column--logo a {
  display: block;
  width: 150px;
  height: 120px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 23px;
  color: transparent;
}

.page-header__column--menu {
  position: relative;
  width: 530px;
}

.page-header__column--menu-link,
.page-header__column--submenu-link {
  display: inline-block;
  vertical-align: top;
  margin-right: -2px;
}

.page-header__column--menu-link a {
  position: relative;
  display: block;
  height: 117px;
  padding-left: 15px;
  padding-right: 14px;
  font-size: 16px;
  line-height: 126px;
  color: #000000;
}

.page-header__column--menu-link a:hover,
a.page-header__column--menu-active {
  color: #018f3c;
}

.page-header__column--menu-active {
  border-bottom: 3px solid #018f3c;
}

.page-header__column--menu-active::after {
  position: absolute;
  top: 99px;
  left: 39px;
  display: block;
  content: '';
  border: 10px solid transparent;
  border-bottom-color: #018f3c;
}

.page-header__column--submenu {
  /* display: none; */
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%; 
  height: 60px;
  background-color: #efece7;
}

.page-header__column--submenu-link a {
  display: block;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
  padding: 0 14px;
  color: #000000;
}

.page-header__column--submenu-link span {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.page-header__column--submenu-link a:hover {
  color: #000000;
}

.page-header__column--submenu-link span:hover {
  border-bottom: 1px solid #605e5c;
}

.page-header__column--submenu-active {
  background-color: #ffa800;
}

.page-header__column--submenu-link .page-header__column--submenu-active {
  color: #ffffff;
}

.page-header__column--submenu-link .page-header__column--submenu-active:hover  {
  color: #ffffff;
}

.page-header__column--submenu-active span:hover {
  border-bottom: 1px solid #ffffff;
}

.page-header__column--submenu-1,
.page-header__column--submenu-2,
.page-header__column--submenu-3 {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 1;
}

.page-header__column--submenu-1,
.page-header__column--submenu-2 {
  display: none;
}

.page-header__column--search {
  margin-top: 53px;
  margin-left: 26px;
}

.page-header__column--login-seller {
  margin-top: 53px;
  margin-left: 32px;
}

.page-header__column--registration-seller {
  position: relative;
  width: 193px;
  height: 45px;
  border: 3px solid #ffa800;
  border-radius: 30px;
  margin-top: 40px;
  margin-left: 52px;
}

.page-header__column--registration-seller:hover {
  background-color: #ffa800;
}

.header-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  color: transparent;
}

.header-icon__search {
  background-position: -293px -221px;
  padding: 0;
  border: none;
}

.header-icon__login {
  background-position: -210px -221px;
}

.header-icon__registration {
  display: inline-block;
  width: 157px;
  font-size: 13px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  padding-left: 56px;
  color: #000000;
}

.header-icon__registration::before {
  display: block;
  position: absolute;
  left: 23px;
  top: 9px;
  content: '';
  width: 26px;
  height: 22px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -858px -483px;
}

/* -------------  ------------- Main content -------------  ------------- */

.client-lesson__button-back {
  position: relative;
  margin-top: 100px;
  margin-left: 50px;
}

.client-lesson__button-back a {
  display: inline-block;
  width: 122px;
  height: 36px;
  border: 2px solid #ffa800;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 39px;
  color: #ffa800;
}

.client-lesson__button-back a:hover {
  border: 2px solid #CC8600;
  color: #CC8600;
}

.client-lesson__button-back a::before {
  display: block;
  position: absolute;
  left: 16px;
  top: 11px;
  content: '';
  width: 20px;
  height: 15px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -832px -392px;
}

.client-lesson__button-back a:hover::before {
  background-position: -810px -392px;
}

.client-lesson__button-back:last-child {
  margin-top: 0;
  margin-bottom: 68px;
}

.client-lesson__header h1,
.client-lesson__presentation-article h2,
.client-lesson__instruction h2,
.instruction-content__block h3 {
  font-size: 18px;
  font-weight: 800;
}

.client-lesson__header h1 {
  padding-left: 49px;
  padding-top: 23px;
  padding-bottom: 17px;
}

.client-lesson__video {
  margin-bottom: 35px;
}

.client-lesson__video video {
  width: 978px; 
  height: 579px; 
}

.client-lesson__presentation-picture,
.client-lesson__presentation-article {
  float: left;
}

.client-lesson__presentation-article {
  width: 334px;
  padding-left: 34px;
  padding-top: 13px;
}

.client-lesson__presentation-article h2 {
  padding-bottom: 12px;
}

.client-lesson__presentation-download {
  position: relative;
  margin-top: 84px;
  margin-left: 1px;
  margin-bottom: 30px;
}

.client-lesson__presentation-download a {
  display: inline-block;
  width: 167px;
  height: 36px;
  border: 2px solid #ffa800;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 45px;
  color: #000000;
}

.client-lesson__presentation-download a:hover {
  background-color: #ffa800;
}

.client-lesson__presentation-download a::before {
  display: block;
  position: absolute;
  left: 20px;
  top: 12px;
  content: '';
  width: 20px;
  height: 15px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -859px -844px;
} 

.client-lesson__instruction {
  clear: both;
}

.client-lesson__instruction h2 {
  padding-top: 12px;
  padding-left: 49px;
  padding-bottom: 20px;
}

.instruction-content {
  position: relative;
  width: 978px;
  background-color: #efece7;
}

.instruction-content::before,
.instruction-content::after {
  position: absolute;
  display: block;
  content: '';
}

.instruction-content::before {
  top: 0;
  right: 0;
  border: 15px solid transparent;
  border-right-color: #ffffff;
  border-top-color: #ffffff;
  border-left-color: #faf9f8;
  border-bottom-color: #faf9f8;
}

.instruction-content::after {
  top: 8px;
  right: -20px;
  border: 21px solid transparent;
  border-left-color: #e3e0db;
  transform: rotate(-45deg); 
}

.instruction-content__block {
  width: 696px;
  padding-left: 49px;
}

.instruction-content__block h3 {
  padding-top: 18px;
  padding-bottom: 23px;
}

.instruction-content__block:first-child h3 {
  padding-top: 30px;
}

.instruction-content__block p {
  padding-bottom: 20px;
}

.instruction-content__block-picture {
  position: relative;
}

.instruction-content__block-picture img {
  padding-top: 5px;
}

.instruction-content__block-picture::after {
  position: absolute;
  top: 20px;
  right: -250px;
  content: 'Для начала работы с сервисом нужно пройти простую процедуру регистрации.';
  display: block;
  width: 230px;
  /* font-style: italic;
  font-size: 13px;
  font-weight: 600; */
}

.instruction-content__block-picture p {
  display: none;
}

.instruction-content__block-picture::after,
.instruction-content__block-picture p {
  font-style: italic;
  font-size: 13px;
  font-weight: 600;
}

.instruction-content__block:last-child {
  padding-bottom: 44px;
}

.client-lesson__sm-links {
  width: 252px;
  height: 40px;
  background-image: url(../images/pages/lesson/sm-buttons.png);
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 51px;
  margin-bottom: 40px;
}

.client-lesson__sm-links:hover {
  cursor: pointer;
}


/* ---------------  --------------- Footer ---------------  --------------- */

.page-footer {
  height: 139px;
  background-color: #efece7;
  clear: both;
}

.page-footer__columns {
  overflow: hidden; 
  color: #605e5c;
}

.page-footer__columns a {
  color: #605e5c;
}

.page-footer__columns a:hover {
  color: #177a93;
}

.page-footer__column {
  float: left;
  width: 24%;
  margin-top: 39px;
}

.page-footer__column--center {
  position: relative;
  padding-left: 5px;
}

.page-footer__column--center::before,
.page-footer__column--center::after {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 59px;
  background-color: #cccccc;
}

.page-footer__column--center::before {
  top: 0;
  left: -44px;
}

.page-footer__column--center::after {
  top: 0;
  right: 36px;
}

.page-footer__column--right {
  padding-left: 13px;
}

.contact-icon::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
}

.contact-icon__copyright::before {
  background-position: -858px -779px;
}

.contact-icon__email::before {
  background-position: -858px -733px;
}

.contact-icon__skype::before {
  background-position: -858px -756px;
}

.contact-icon__email a,
.contact-icon__skype a {
  color: #177a93;
  border-bottom: 1px solid #177a93;
}

.contact-icon__email a:hover,
.contact-icon__skype a:hover {
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

.page-footer__column--sm {
  margin-top: 49px;
  padding-left: 21px;
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 35px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
}

.social-icon a {
  display: block;
  width: inherit;
  height: inherit;
  color: transparent;
}

.social-icon a:hover {
  color: transparent;
}

.social-icon__vk {
  background-position: -680px -558px;
}

.social-icon__vk:hover {
  background-position: -637px -558px;
}

.social-icon__tw {
  background-position: -729px -282px;
}

.social-icon__tw:hover {
  background-position: -729px -509px;
}

.social-icon__blog {
  background-position: -723px -558px;
}

.social-icon__blog:hover {
  background-position: -729px -417px;
}

.social-icon__hh {
  background-position: -729px -374px;
}

.social-icon__hh:hover {
  background-position: -772px -648px;
}

.social-icon__gp {
  background-position: -858px 0;
}

.social-icon__gp:hover {
  background-position: -653px -782px;
}