/* Diffrent display layout styles */

@media screen and (min-width: 750px) and (max-width: 1000px) {

  .container {
    /* position: static; */
    max-width: 750px;
  }

  /* ---------------  Header --------------- */


  /* -------------  Main content  ------------- */

  .client-lesson__header h1 {
    padding-bottom: 6px;
  }

  .client-lesson__video video {
    width: 750px; 
    height: 443px; 
    margin-left: 9px;
  }

  .client-lesson__presentation {
    margin-left: 50px;
  }

  .client-lesson__presentation-picture,
  .client-lesson__presentation-article {
    float: none;
  }

  .client-lesson__presentation-article {
    width: auto;
    padding-left: 0;
    padding-top: 18px;
  }

  .client-lesson__presentation-download {
    margin-top: 25px;
  }

  .client-lesson__instruction h2 {
    padding-top: 13px;
    padding-left: 48px;
    padding-bottom: 17px;
  }

  .instruction-content {
    max-width: 750px;
    margin-left: 9px;
  }

  .instruction-content::before,
  .instruction-content::after {
    display: none;
  }

  .instruction-content__block {
    width: 686px;
    padding-left: 40px;
  }

  .instruction-content__block:first-child h3 {
    padding-top: 33px;
  }

  .instruction-content__block-picture::after {
    display: none;
  }

  .instruction-content__block-picture p {
    display: block;
    padding-top: 9px;
  }

  .instruction-content__block:last-child {
    padding-bottom: 25px;
  }

  /* --------------- Footer --------------- */

}


@media screen and (max-width: 749px) {

  .container {
    /* position: relative; */
    /* position: static;  */
    max-width: 360px;
  }

  /* ---------------  Header --------------- */


  /* -------------  Main content  ------------- */

  .client-lesson__button-back {
    margin-left: 29px;
  }

  .client-lesson__button-back a {
    width: 198px;
    padding-left: 97px;
  }

  .client-lesson__button-back a::before {
    left: 73px;
  }

  .client-lesson__header h1 {
    padding-left: 28px;
    padding-right: 32px;
    padding-bottom: 4px;
  }

  .client-lesson__video {
    margin-bottom: 40px;
  }

  .client-lesson__video video {
    width: 360px; 
    height: 228px; 
    margin-left: -2px;
  }

  .client-lesson__presentation {
    margin-left: -2px;
  }

  .client-lesson__presentation-picture,
  .client-lesson__presentation-article {
    float: none;
  }

  .client-lesson__presentation-article {
    width: 330px;
    padding-left: 30px;
    padding-top: 18px;
  }

  .client-lesson__presentation-download {
    margin-top: 25px;
  }

  .client-lesson__presentation-download a {
    width: 208px;
    padding-left: 87px;
  }

  .client-lesson__presentation-download a::before {
    left: 61px;
  } 

  .client-lesson__instruction h2 {
    padding-top: 13px;
    padding-left: 28px;
    padding-bottom: 17px;
  }

  .instruction-content {
    max-width: 360px;
    margin-left: -2px;
  }

  .instruction-content::before,
  .instruction-content::after {
    display: none;
  }

  .instruction-content__block {
    width: 360px;
    padding-left: 31px;
    padding-right: 24px;
  }

  .instruction-content__block:first-child h3 {
    padding-top: 33px;
  }

  .instruction-content__block-picture {
    width: 300px;
  }

  .instruction-content__block-picture::after {
    display: none;
  }

  .instruction-content__block-picture p {
    display: block;
    padding-top: 9px;
  }

  .instruction-content__block:last-child {
    padding-bottom: 25px;
  }


  /* --------------- Footer --------------- */

}