/* Main layout styles */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
}

.container {
  position: relative;
  width: 989px;
  margin: auto;
}


/* ---------------  --------------- Header ---------------  --------------- */

.page-header {
  height: 120px;
  margin-bottom: 120px;
}

.page-header__column {
  float: left;
}

.page-header__column--logo {
  margin-right: 29px;
}

.page-header__column--logo a {
  display: block;
  width: 150px;
  height: 120px;
  background-image: url(../images/logo/logo.png);
  background-repeat: no-repeat;
  background-position: 0 23px;
  color: transparent;
}

.page-header__column--menu-hamburger {
  display: none;
}

.page-header__column--menu {
  position: relative;
  margin-right: 25px;
}

.page-header__column--menu-link,
.page-header__column--submenu-link {
  float: left;
}

.page-header__column--menu-link a {
  display: block;
  height: 117px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 126px;
  color: #000000;
}

.page-header__column--menu-link a:hover {
  color: #018f3c;
}

.page-header__column--menu-active {
  position: relative;
  border-bottom: 3px solid #018f3c;
}

.page-header__column--menu-active span {
  color: #018f3c;
}

.page-header__column--menu-active::after {
  position: absolute;
  top: 99px; 
  left: 50%;
  content: '';
  margin-left: -10px;  
  border: 10px solid transparent;
  border-bottom-color: #018f3c;
}  

.page-header__column--submenu {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%; 
  height: 60px;
  background-color: #efece7;
}

.page-header__column--submenu-link a {
  height: 60px;
  font-size: 14px;
  line-height: 58px;
  padding: 0;
}

.page-header__column--submenu-link span {
  margin-left: 14px;
  margin-right: 14px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.page-header__column--submenu-link a:hover {
  color: #000000;
}

.page-header__column--submenu-link span:hover {
  border-bottom: 1px solid #a8a6a2;
}

.page-header__column--submenu-active {
  background-color: #ffa800;
}

.page-header__column--submenu-link .page-header__column--submenu-active {
  color: #ffffff;
}

.page-header__column--submenu-link .page-header__column--submenu-active:hover  {
  color: #ffffff;
}

.page-header__column--submenu-active span:hover {
  border-bottom: 1px solid #ffc24c;
}

.page-header__column--submenu-platform,
.page-header__column--submenu-company,
.page-header__column--submenu-help {
  position: absolute;
  /* top: 120px; */ 
  left: 0;
  z-index: 1;
}

.page-header__column--submenu-platform,
.page-header__column--submenu-company {
  display: none;
}

.page-header__column--search {
  margin-top: 53px;
  margin-right: 33px;
}

.page-header__column--login-seller {
  margin-top: 52px;
  margin-right: 5px;
}

.page-header__column--registration-seller {
  position: relative;
  width: 220px;
  height: 46px;
  border: 3px solid #ffa800;
  border-radius: 30px;
  margin-top: 40px;
}

.page-header__column--registration-seller:hover {
  background-color: #ffa800;
}

.header-icon {
  display: block;
  width: 20px;
  height: 21px;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  color: transparent;
}

.header-icon--search {
  background-position: -293px -221px;
  border: none;
}

.header-icon--login {
  background-position: -210px -221px;
}

.header-icon--registration {
  font-weight: 600;
  line-height: 39px;
  text-transform: uppercase;
  padding-left: 56px;
  color: #000000;
}

.header-icon--registration::before {
  position: absolute;
  left: 24px;
  top: 9px;
  content: '';
  /* display: block; */
  width: 26px;
  height: 22px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -858px -483px;
}

/* -------------  ------------- Main content -------------  ------------- */

.client-lesson__button-back {
  position: relative;
  margin-top: 100px;
  margin-left: 50px;
}

.client-lesson__button-back a {
  display: inline-block;
  width: 122px;
  height: 36px;
  border: 2px solid #ffa800;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 39px;
  color: #ffa800;
}

.client-lesson__button-back a:hover {
  border: 2px solid #CC8600;
  color: #CC8600;
}

.client-lesson__button-back a::before {
  display: block;
  position: absolute;
  left: 16px;
  top: 11px;
  content: '';
  width: 20px;
  height: 15px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -832px -392px;
}

.client-lesson__button-back a:hover::before {
  background-position: -810px -392px;
}

.client-lesson__button-back:last-child {
  margin-top: 0;
  margin-bottom: 68px;
}

.client-lesson__header h1,
.client-lesson__presentation-article h2,
.client-lesson__instruction h2,
.instruction-content__block h3 {
  font-size: 18px;
  font-weight: 800;
}

.client-lesson__header h1 {
  padding-left: 49px;
  padding-top: 23px;
  padding-bottom: 17px;
}

.client-lesson__video {
  margin-bottom: 35px;
}

.client-lesson__video video {
  width: 978px; 
  height: 579px; 
}

.client-lesson__presentation-picture,
.client-lesson__presentation-article {
  float: left;
}

.client-lesson__presentation-article {
  width: 334px;
  padding-left: 34px;
  padding-top: 13px;
}

.client-lesson__presentation-article h2 {
  padding-bottom: 12px;
}

.client-lesson__presentation-download {
  position: relative;
  margin-top: 84px;
  margin-left: 1px;
  margin-bottom: 30px;
}

.client-lesson__presentation-download a {
  display: inline-block;
  width: 167px;
  height: 36px;
  border: 2px solid #ffa800;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 45px;
  color: #000000;
}

.client-lesson__presentation-download a:hover {
  background-color: #ffa800;
}

.client-lesson__presentation-download a::before {
  display: block;
  position: absolute;
  left: 20px;
  top: 12px;
  content: '';
  width: 20px;
  height: 15px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -859px -844px;
} 

.client-lesson__instruction {
  clear: both;
}

.client-lesson__instruction h2 {
  padding-top: 12px;
  padding-left: 49px;
  padding-bottom: 20px;
}

.instruction-content {
  position: relative;
  width: 978px;
  background-color: #efece7;
}

.instruction-content::before,
.instruction-content::after {
  position: absolute;
  display: block;
  content: '';
}

.instruction-content::before {
  top: 0;
  right: 0;
  border: 15px solid transparent;
  border-right-color: #ffffff;
  border-top-color: #ffffff;
  border-left-color: #faf9f8;
  border-bottom-color: #faf9f8;
}

.instruction-content::after {
  top: 8px;
  right: -20px;
  border: 21px solid transparent;
  border-left-color: #e3e0db;
  transform: rotate(-45deg); 
}

.instruction-content__block {
  width: 696px;
  padding-left: 49px;
}

.instruction-content__block h3 {
  padding-top: 18px;
  padding-bottom: 23px;
}

.instruction-content__block:first-child h3 {
  padding-top: 30px;
}

.instruction-content__block p {
  padding-bottom: 20px;
}

.instruction-content__block-picture {
  position: relative;
}

.instruction-content__block-picture img {
  padding-top: 5px;
}

.instruction-content__block-picture::after {
  position: absolute;
  top: 20px;
  right: -250px;
  content: 'Для начала работы с сервисом нужно пройти простую процедуру регистрации.';
  display: block;
  width: 230px;
  /* font-style: italic;
  font-size: 13px;
  font-weight: 600; */
}

.instruction-content__block-picture p {
  display: none;
}

.instruction-content__block-picture::after,
.instruction-content__block-picture p {
  font-style: italic;
  font-size: 13px;
  font-weight: 600;
}

.instruction-content__block:last-child {
  padding-bottom: 44px;
}

.client-lesson__sm-links {
  width: 252px;
  height: 40px;
  background-image: url(../images/pages/lesson/sm-buttons.png);
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-left: 51px;
  margin-bottom: 40px;
}

.client-lesson__sm-links:hover {
  cursor: pointer;
}


/* ---------------  --------------- Footer ---------------  --------------- */

.page-footer {
  min-height: 245px;
  background-color: #f2ede7;
  clear: both;
}

.page-footer__columns {
  overflow: hidden; 
  padding-bottom: 46px;
  color: #605e5c;
}

.page-footer__columns a {
  color: #605e5c;
}

.page-footer__columns a:hover {
  color: #177a93;
}

.page-footer__column {
  float: left;
  width: 25%;
  margin-top: 40px;
}

.contact-icon::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
}

.contact-icon--copyright::before {
  background-position: -858px -779px;
}

.contact-icon--email::before {
  background-position: -858px -733px;
}

.contact-icon--skype::before {
  background-position: -858px -756px;
}

.contact-icon--email a,
.contact-icon--skype a {
  color: #177a93;
  border-bottom: 1px solid #177a93;
}

.contact-icon--email a:hover,
.contact-icon--skype a:hover {
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

.page-footer__column--sm {
  float: right;
  margin-top: 50px;
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 35px;
  margin-right: 2px;
  border-radius: 5px;
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
}

.social-icon a {
  display: block;
  width: inherit;
  height: inherit; 
  color: transparent;
}

.social-icon a:hover {
  color: transparent;
}

.social-icon--vk {
  background-position: -680px -558px;
}

.social-icon--vk:hover {
  background-position: -637px -558px;
}

.social-icon--fb {
  background-position: -696px -782px;
}

.social-icon--fb:hover {
  background-position: -782px -782px;
}

.social-icon--tw {
  background-position: -729px -282px;
}

.social-icon--tw:hover {
  background-position: -729px -509px;
}

.social-icon--blog {
  background-position: -723px -558px;
}

.social-icon--blog:hover {
  background-position: -729px -417px;
}

.social-icon--hh {
  background-position: -729px -374px;
}

.social-icon--hh:hover {
  background-position: -772px -648px;
}

.social-icon--gp {
  background-position: -858px 0;
}

.social-icon--gp:hover {
  background-position: -653px -782px;
}

.page-footer__payment-system {
  padding-left: 4px;
}

.payment-system__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 46px;
}

.payment-system__item:nth-child(2) {
  margin-right: 49px;
}

.payment-system__item:nth-child(3) {
  margin-right: 51px;
}

.payment-system__item:nth-child(4) {
  margin-right: 53px;
}

.payment-system__item:nth-child(6) {
  margin-right: 38px;
}

.payment-system__item:nth-child(7) {
  margin-right: 42px;
}

.payment-system__item:nth-child(8) {
  margin-right: 39px;
}