/* Diffrent display layout styles */

@media screen and (min-width: 750px) and (max-width: 1000px) {

  .container {
    /* position: static; */
    max-width: 750px;
  }

  /* ---------------  Header --------------- */


  /* -------------  Main content  ------------- */

  .client-instructions__lesson-picture {
    max-width: 750px;
    margin-left: -5px;
  }

  .client-instructions__lesson:nth-of-type(1) .client-instructions__lesson-picture { 
    background-image: url(../images/lesson-bg_750_1.png);
  }

  .client-instructions__lesson:nth-of-type(2) .client-instructions__lesson-picture { 
    background-image: url(../images/lesson-bg_750_2.png);
  }

  .client-instructions__lesson:nth-of-type(3) .client-instructions__lesson-picture { 
    background-image: url(../images/lesson-bg_750_3.png);
  } 

  .client-instructions__lesson-picture h4,
  .client-instructions__lesson-picture p,
  .client-instructions__lesson-link {
    display: none;
  }

  .client-instructions__lesson-article {
    padding-left: 35px;
  }

  .client-instructions__lesson:nth-of-type(1) a:hover ~ .client-instructions__lesson-picture {
    background-image: url(../images/lesson-bg_750_1.png);
  }

  .client-instructions__lesson:nth-of-type(2) a:hover ~ .client-instructions__lesson-picture {
    background-image: url(../images/lesson-bg_750_2.png);
  }

  .client-instructions__lesson:nth-of-type(3) a:hover ~ .client-instructions__lesson-picture {
    background-image: url(../images/lesson-bg_750_3.png);
  }

  .client-instructions__paginator {
    padding-left: 37px;
  }


  /* --------------- Footer --------------- */

}


@media screen and (max-width: 749px) {

  .container {
    /* position: relative; */
    /* position: static;  */
    max-width: 340px;
  }

  /* ---------------  Header --------------- */


  /* -------------  Main content  ------------- */


  /* --------------- Footer --------------- */

}